body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#page-title {
    display: flex;
    justify-content: center;
    background-color: #0f172a;
    color: lightgrey;
    margin: 0;
}

h1 {
    font-size: 50px;
    margin: 15px;
}
main {
    flex: 1;
    background-color: #1e293b;
    display: flex;
    justify-content: center;
    align-items: center;

}

#calculator-body {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
    height: 600px;
    margin: 50px auto;       
    padding: 1.5rem;        
    border: 2px solid black;
    border-radius: 10px;
    background-color: #2A2A2A;
}

.version {
    text-align: end;
    margin: 0;
    margin-right: 5px;
    font-weight: 500;
    color: gray;
    
}

#screen {
    display: flex;
    height:80px;
    width: 450px;
    margin: 25px auto;
    background-color: lightgrey;
    border-radius: 15px;
    font-size: 50px;
    text-align: end;

}

#btn-calc{
    display: flex;
    flex-direction: column; 
    width: 450px;
    gap: 10px;
    margin-bottom: 5px;
}

.button-first-set,
.button-second-set,
.button-third-set,
.button-fourth-set {
    display: flex;
    flex-direction: row;     
    gap: 10px;     
              
}

#btn-calc button {
    flex: 1;             
    height: 60px;
    font-size: 30px;
    border-radius: 10px;
    
}

#btn-calc button:hover {
    background-color: grey;
    color:lightgray;
    cursor: pointer;
}

#btn-last {
    display: flex;
    justify-content: flex-end;
    width: 450px;
    height: 60px;
    margin-top: 10px;
    gap: 10px;
    margin-bottom: 10px;
    
}

#btn-last button {
    width: 105px;             
    height: 60px;
    font-size: 25px;
    background-color: #4682B4;
    color: #F8F9FA;
    border-radius: 10px;
    
}

#btn-last button:hover {
    background-color: #5C93C4;
    color: #2A2A2A;
    cursor: pointer;
    
}

.btn-divide, .btn-add, .btn-subtract, .btn-multiply  {
    background-color: orange;
    font-weight: 500;
}

#btn-calc .btn-divide:hover, #btn-calc .btn-add:hover, #btn-calc .btn-subtract:hover, #btn-calc .btn-multiply:hover  {
    background-color: goldenrod;
    color: lightgray;
}

.btn-subtract {
    font-weight: 600;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #0f172a;
    color: lightgrey;
}

.copyright-text {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px;
}